{% extends 'layout.html' %}

{% block article %}

<h2>sobre</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat incidunt placeat quasi voluptates at vitae voluptatibus, ullam culpa labore commodi atque dignissimos eveniet. Illo ab, ipsam eaque officiis nesciunt tenetur!</p>

{% endblock %}

{% block aside %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In facilis tempora temporibus eum eligendi explicabo incidunt sit natus, molestias quam id similique repellat inventore quia vero quibusdam magni laboriosam magnam.</p>
{% endblock %}